@import './../../assets/scss/custom_variables';
@import './../../assets//scss//custom_mixins';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.stepper-root {
  width: 100%;
  min-height: 0;
  padding: 0;
  .stepper {
    display: table;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
  }
  .step {
    display: table-cell;
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    &.bg-primary {
      & .content {
        &::after {
          border-left-color: theme-color('primary');
        }
      }

      &.success {
        & .step-page {
          display: none;
        }

        & .step-tick {
          &::before {
            content: '\2713';
          }
        }
      }
    }
    &.bg-success {
      .content {
        &::after {
          border-left-color: $success;
        }
      }
    }
    &.bg-not-visited {
      background-color: $gray-100;
    }
    .circle {
      width: 25px;
      height: 25px;
      margin: 0 10px;
      border-radius: 50%;
      text-align: center;
      font-size: 16px;
      display: block;
      border-width: 1px;
      border-style: solid;
    }
    .content {
      &::after {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 31px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 25px solid transparent;
        border-left: 15px solid $gray-100;
        position: absolute;
        top: 35%;
        margin-top: -25px;
        left: 100%;
        z-index: 2;
      }
      &::before {
        content: ' ';
        display: block;
        width: 0;
        height: 0;
        border-top: 31px solid transparent; /* Go big on the size, and let overflow hide */
        border-bottom: 25px solid transparent;
        border-left: 15px solid white;
        position: absolute;
        top: 35%;
        margin-top: -25px;
        margin-left: 2px;
        left: 100%;
        z-index: 1;
      }
    }
    .title {
      text-align: center;
      display: block;
    }
    &::before {
      padding: 0;
    }

    .step-text {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media screen and (min-width: 370px) and (max-width: 480px) {
  @include text-overflow-mixin(true, 50px);
}

@media screen and (min-width: 568px) and (max-width: 667px) {
  @include text-overflow-mixin(true, 100px);
}

@media screen and (min-width: 480px) and (max-width: 568px) {
  @include text-overflow-mixin(true, 80px);
}

@media screen and (max-width: 370px) {
  @include text-overflow-mixin(false, '', true);
}
