#appCloudCompare {
  min-height: 100vh;

  & .cloud-compare-app {
    & .content-container {
      padding-bottom: 15px;
    }
  }

  & .footer-fixed {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

  & .footer-logo-image {
    height: 42px;
  }
}
