@import './assets/scss/custom_variables';
@import './assets/scss/custom_fonts';
@import 'react-toastify/dist/ReactToastify.css';
@import './assets/scss/theme';
@import '~bootstrap/scss/bootstrap';
@import './assets/scss/custom';

.custom-select {
  background: url('./assets//images/caret-down-fill.svg') no-repeat 99% center !important;
}

.react-toast-notifications__container {
  z-index: 9999 !important;
}

::-webkit-input-placeholder {
  color: $gray-300 !important;
}

::-moz-placeholder {
  color: $gray-300 !important;
}

::-ms-placeholder {
  color: $gray-300 !important;
}

::placeholder {
  color: $gray-300 !important;
}
