.main-header {
  height: 3.5rem;
  display: flex;
  background-color: #03a9f4;
}

.main-header nav {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header li {
  padding: 0;
  margin: 0 2rem;
}

.main-header a {
  text-decoration: none;
  color: 560061;
  font-weight: bold;
}

.main-header a:hover,
.main-header a:active,
.main-header a.active {
  color: white;
}
