.dropdown__instanceName,
.dropdown__storage_name {
  & .maze-select__control {
    min-height: unset;

    & .maze-select__value-container {
      padding: 0 2px;

      & div:last-child {
        padding: 0;
        margin: 0;
      }
    }

    & .maze-select__indicators {
      & .maze-select__indicator-separator {
        margin: 0;
      }

      & .maze-select__indicator {
        padding: 0;
      }
    }
  }
}
