@import './custom_mixins';

.hight-100 {
  height: 100%;
}

.border-flat {
  border-radius: 0 !important;
}

.pb-15 {
  padding-bottom: 15px;
}

.pt-70 {
  padding-top: 70px;
}

.py-50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}

.pb-50 {
  padding-bottom: 50px !important;
}

.pt-50 {
  padding-top: 50px !important;
}

.pt-59 {
  padding-top: 59px !important;
}

.pb-59 {
  padding-bottom: 59px !important;
}

.pt-74 {
  padding-top: 74px !important;
}

.pt-80 {
  padding-top: 80px;
}

.pt-85 {
  padding-top: 85px;
}

.gray-100 {
  background: $gray-100;
}

.light-green-200 {
  background: light-green('200');
}

.light-green-600 {
  background: light-green('600');
}

.border-bottom-white {
  border-bottom: solid 1px rgba(theme-color('primary'), 0.1);
}

.form-control,
.custom-select,
.custom-control-label {
  border-color: gray('200');

  &::before {
    border-color: gray('200');
  }
}

.cursor-pointer {
  cursor: pointer;
}

.card-header {
  background-color: gray('100');
}

.table-bordered {
  border-width: 0;

  & td,
  th {
    border-width: 0;
  }

  &.table-striped {
    & tbody {
      & tr {
        &:nth-of-type(odd) {
          background: gray('100');
        }
      }
    }
  }

  &.table-hover {
    & tbody {
      & tr {
        &:hover {
          background: gray('200');
        }
      }
    }
  }
}

.maze-custom-tabs {
  .nav {
    & .nav-item {
      & .nav-link {
        border-left: 5px solid transparent;
        color: $blockquote-small-color;
        &.active {
          background-color: $white;
          border-color: $primary !important;
        }
      }
    }
  }
}

label {
  &.required {
    &::after {
      content: '*';
      margin-left: $caret-spacing;
      color: $danger;
    }
  }
}

.form-group {
  &.required {
    &::before {
      content: '*';
      position: absolute;
      top: -15px;
      color: $danger;
    }
  }
}

.font-size-lg {
  font-size: $font-size-lg;
}

.btn {
  &.btn-sm {
    line-height: 1;
  }
}

.elem--text_round_bracket_small_size {
  @include small-font-size-italic;
  margin-left: 0.1rem;
  &::before {
    content: '\0028';
  }

  &::after {
    content: '\0029';
  }
}

.pt-5 {
  padding-top: $spacer * 5 !important;
}

.mt-5 {
  margin-top: $spacer * 5 !important;
}

.mb-5 {
  margin-bottom: $spacer * 5 !important;
}

.my-5 {
  margin-top: $spacer * 5 !important;
  margin-bottom: $spacer * 5 !important;
}

.w-75 {
  width: 75% !important;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9;
}
