@mixin small-font {
  font-size: $small-font-size;
}

@mixin small-font-size-italic {
  @include small-font;
  font-style: italic;
}

@function light-green($key: '100') {
  @return map-get($light-greens, $key);
}

@mixin text-overflow($size: 100px) {
  width: $size;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin text-overflow-mixin($show: true, $size: 100px, $notShow: false) {
  .stepper-root {
    & .stepper {
      & .step {
        & .step-text {
          & .title {
            &.text-overflow {
              @if $show {
                @include text-overflow($size);
              }

              @if $notShow {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}
