@font-face {
  font-family: 'Metric-Regular';
  src: url('assets/fonts/Metric-Regular.woff2') format('woff2'),
    url('assets/fonts/Metric-Regular.woff') format('woff'),
    url('assets/fonts/Metric-Regular.ttf') format('truetype'),
    url('assets/fonts/Metric-Regular.eot') format('embedded-opentype');
}
$font-family-sans-serif: 'Metric-Regular';
$font-size-base: 1.1rem !default;
