@import '@scss/common/common.scss';

.compare-outer-container {
    position: relative;
    height: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);

    & .steps-action {
        position: absolute;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        border-top: 1px solid $gray;
    }

    & .ant-steps {
        &.ant-steps-horizontal { // TODO: Should create mixin - SASS
          padding: 1rem;
          background-color: $gray;
        }

        & .ant-steps-item {
            &.ant-steps-item-finish {
                & .ant-steps-icon {
                    top: -5px;
                }
            }
        }
    }

    & .steps-content {
        overflow: hidden;
        border-top: 1px solid $gray;

        // height: calc(100vh - 280px);
        // overflow-y: scroll;

      // & .form-compute-resources {
      //   padding: 1.5rem;
      // }

      // & .content-body {
      //   height: calc(100vh - 310px);
      //   overflow: auto;
      // }
    }

    // & .modify_workload {
    //     & .ant-layout-sider-children {
    //       height: calc(100vh - 310px);
    //       overflow: auto;
    //     }

    //     & .ant-layout-content {
    //         background:#fff;
    //     }
    // }
}
