.page-compare {
  height: 100%;

  & .compute-resource-dynamic-row-outer {
    overflow-y: auto;
    overflow-x: hidden;
  }

  & .button-text-align-middle {
    position: relative;
    top: 2px;
  }

  & .accordion {
    & .card-header {
      border-bottom-width: 0;

      & span {
        &.vertical-align-middle {
          vertical-align: middle;
        }
      }
    }
  }
}

select option[disabled]:first-child {
  display: none;
}
