.table {
  & thead {
    & tr {
      & th {
        &:first-child {
          padding-left: 1rem;
        }

        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }

  & tbody {
    & tr {
      & td {
        &:first-child {
          padding-left: 1rem;
        }

        &:last-child {
          padding-right: 1rem;
        }
      }
    }
  }
}
