@import './../../../assets/scss/custom_variables';
@import '~bootstrap/scss/bootstrap';

.leftPaneControl {
  right: 0;
}

.ul-lists-items {
  list-style: none;
  list-style-type: none;

  & li {
    list-style: none;
    list-style-type: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;

    & .vertical-align-middle {
      vertical-align: middle;
    }

    &.child {
      text-indent: 2.5rem;
      border-left: solid 5px $light;

      &.active {
        border-left: solid 5px theme-color('primary');
        background-color: rgba(theme-color('primary'), 0.1);
      }
    }

    & .size-16 {
      height: 16px;
    }
  }
}

@media screen and (max-width: 568px) {
  .leftPaneControl {
    display: none;
  }
  .ul-lists-items {
    & li {
      &.child {
        text-indent: 1rem;
      }

      .list-title {
        display: none;
      }
    }
  }
}
