.home-first-block {
  // height: calc(100vh - 165px);
}

.first-image-position {
  position: relative;
  top: -70px;
}

.showTwoLines {
  width: 75%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 34px !important;
}

.block-1 {
  background: linear-gradient(
    rgb(245, 246, 248) 0%,
    rgba(245, 246, 248, 0) 67.54%
  );
}

.full-block {
  background: linear-gradient(
    rgb(245, 246, 248) 0%,
    rgba(245, 246, 248, 0) 67.54%
  );
}
